

<div class="container">
	<h1>Portfolio</h1>	

	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="panel panel-primary">
	  			<div class="panel-heading">
					<h3 class="panel-title">Iron Gym Guestbook</h3>
	  			</div><!-- end panel-heading -->
	  			<div class="panel-body">
					<img class="panel-image" src="images/21-Guestbook/MainScreen.PNG">
	  			</div><!-- end panel-body -->
	  			<div class="panel-footer">
					Full-stack Web application built with Microsoft SQL Server, Entity Framework, ASP.NET Web API, and KnockoutJS; enables visitors to Iron Gym to leave comments about their workouts.
				</div><!-- end panel-footer -->
			</div><!-- end panel -->			
		</div><!-- end column -->	
	</div><!-- end row -->	

</div><!-- end container -->


