<div class="container">

	<div class="resume resume-color">
    	<header class="page-header">
    	<h1 class="page-title">Resume of Karen Deborah Snyder</h1>    
  		</header>
			<div class="row">
  				<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
    				<div class="panel panel-default">
      					<div class="panel-heading resume-heading">
        					<div class="row">
          						<div class="col-lg-12">
            						<div class="col-xs-12 col-sm-4">
              							<figure>
                							<img class="img-circle img-responsive" alt="" src="images/fb ireland.jpg">
              							</figure>
              
              							<div class="row">
                							<div class="col-xs-12 social-btns">   	                                                                 
	                   							<div class="col-xs-3 col-md-2 col-lg-2 social-btn-holder">
                      								<a href="https://twitter.com/kd_snyder" 
                      								class="btn btn-social btn-block btn-twitter">
                        								<i class="fa fa-twitter"></i> </a>
                    							</div>
                  
                    							<div class="col-xs-3 col-md-2 col-lg-2 social-btn-holder">
                      								<a href="https://linkedin.com/in/kdsnyder" 
                      								class="btn btn-social btn-block btn-linkedin">
                        								<i class="fa fa-linkedin"></i> </a>
                    							</div>
                  
                    							<div class="col-xs-2 col-md-2 col-lg-2 social-btn-holder">
                      								<a href="https://github.com/kds_snyder" class="btn btn-social btn-block btn-github">
                        <i class="fa fa-github"></i> </a>
                    </div>
                                                        
                </div>
              </div>
              
            </div>

            <div class="col-xs-12 col-sm-8">
              <ul class="list-group">
                <li class="list-group-item">Karen Deborah Snyder</li>
                <li class="list-group-item">Full-Stack Web Development Software Engineer</li>             
                <li class="list-group-item"><i class="fa fa-phone"></i> 516-265-8035 </li>
                <li class="list-group-item"><i class="fa fa-envelope"></i>kds_snyder@yahoo.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Summary</h4>
        <p>
         I am a full-stack web development software engineer, skilled in the latest technologies.
        </p>       
      </div>
      
      <div class="bs-callout bs-callout-danger">
        <h4>Key Expertise</h4>
        <ul class="list-group">
          <li class="list-group-item">.NET, C#  </li>
          <li class="list-group-item">Microsoft SQL Server</li>         
          <li class="list-group-item">Javascript, AngularJS, KnockoutJS</li>
          <li class="list-group-item">ASP.NET Web APIs, REST APIs</li>
          <li class="list-group-item">Entity Framework</li>          
          <li class="list-group-item">GitHub, Scrum</li>
        </ul>
      </div>

      <div class="bs-callout bs-callout-danger">
        <h4>Prior Experience</h4>
        <ul class="list-group">
          <a class="list-group-item inactive-link" href="#">
            <h4 class="list-group-item-heading">
              Origin Code Academy 
            </h4>
            <p class="list-group-item-text">
              Intensive coding course, featuring curriculum covering .NET, C#, Microsoft SQL Server, Javascript, HTML, and CSS.
            </p>
          </a>
          <a class="list-group-item inactive-link" href="#">
            <h4 class="list-group-item-heading">Technical Writer at RAD Data Communications, Tel Aviv, Israel</h4>
            <p class="list-group-item-text">
              Technical documentation for telecommunication hardware products and network management software system             
            <p></p>
          </a>

          <a class="list-group-item inactive-link" href="#">
            <h4 class="list-group-item-heading">Analyst at Nuance Communications, Petach Tikvah, Israel</h4>
            <p class="list-group-item-text">
              Updating database of Directory Assistance audio data, including transcription of recorded speech to improve accuracy for voice recognition system         
            <p></p>
          </a>       

          <a class="list-group-item inactive-link" href="#">
            <h4 class="list-group-item-heading">Copy Editor at Q Group PLC, Kfar Saba, Israel</h4>
            <p class="list-group-item-text">
               Content QA of computerized English teaching program, and copy editing English course books, including proofreading for style consistency and accuracy        
            <p></p>
          </a>

          <a class="list-group-item inactive-link" href="#">
            <h4 class="list-group-item-heading">Technical test support/QA at Siemens, Park Afek, Israel</h4>
            <p class="list-group-item-text">
               Technical test support/QA for narrowband telephone switch and ATM backbone switch at customer site, including provisioning database according to customer requirements and performing functionality and load testing    
            <p></p>
          </a>

          <a class="list-group-item inactive-link" href="#">
            <h4 class="list-group-item-heading">Software Developer at Siemens, Munich, Germany</h4>
            <p class="list-group-item-text">
               Development of maintenance and recovery functions for digital telephone switching system and ADSL broadband subscriber transmission system     
            <p></p>
          </a>

          <a class="list-group-item inactive-link" href="#">
            <h4 class="list-group-item-heading">Software Developer at Siemens Stromberg Carlson, Boca Raton, Florida</h4>
            <p class="list-group-item-text">
               Development of multi line business group function and centrex call processing feature for digital telephone switching system  
            <p></p>
          </a>

        </ul>
      </div>
      
      
      <div class="bs-callout bs-callout-danger">
        <h4>Education</h4>
        	<ul class="list-group">
          	<li class="list-group-item">Bachelor of Science (BS) in Computer Science-Mathematics from State University of New York (SUNY) at Binghamton, NY </li>
          </ul>        
      </div>

	  <div class="bs-callout bs-callout-danger">
        <h4>Languages</h4>
        	<ul class="list-group">
          	<li class="list-group-item">English: mother tongue</li>
          	<li class="list-group-item">German: limited working proficiency</li>
          	<li class="list-group-item">Hebrew; limited working proficiency</li>
          </ul>        
      </div>

    </div>

  </div>
</div>
    
</div>	


</div><!-- end container -->
